

.about{
  width: 100vw;
  height: 95vh;
}
.about-us .intro{
  width: 100%;
  display: flex;
  flex-direction:row;
  
}
.about-infor{
  width: 50%;
  height: 350px;
}

.about-us .intro .about-image{
  width: 50%;
  height: inherit;
}

.about-image{
  background-image: url('../assets/5.jpeg');
  background-size: cover;
}
.about-infor{
  box-sizing: border-box;
  padding-left:100px;
  padding-right: 100px;
  padding-top:60px;
  text-align: center;
  background: #e1eeff
}

.about-infor h1{
  color:#398ffc;
  margin-bottom: 20px;
}
.about-infor p{
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
}

.doctors{
  box-sizing: border-box;
  padding:100px;
  padding-bottom: 40px;
  padding-top:40px;
  height: 50%;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.doctor-card{
  padding:20px;
  width: 30%;
  margin-right: 50px;
}

.doctor-card img{
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  height: 300px;
  width: 300px;
}

.doctor-card h3{
  margin-top:15px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  
}

.doctor-card h4{
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  
}

.doctor-card p{
  font-size: 14px;
  text-align:justify;
  font-family: "Raleway", sans-serif;
  
}

.doc-infors{
  
  box-sizing: border-box;
  text-align: center;
  padding-top:30px;
  padding-left: 300px;
  padding-right: 300px;
}

.doc-infors h1{
  color:#398ffc;
  margin-bottom: 20px;
}
.doc-infors p{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}











