.about {
  width: 100vw;
  height: 95vh;
}

.about-us .intro {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.about-infor {
  width: 50%;
  height: 350px;
}

.about-us .intro .about-image {
  width: 50%;
  height: inherit;
}

.about-image {
  background-image: url("../assets/clinicfront.jpg");
  background-size: cover;
}

.about-infor {
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 60px;
  text-align: center;
  background: #e1eeff;
}

.about-infor h1 {
  color: #398ffc;
  margin-bottom: 20px;
}

.about-infor p {
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
}

.doctors {
  box-sizing: border-box;
  padding: 100px;
  padding-bottom: 40px;
  padding-top: 40px;
  height: 50%;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.doctor-card {
  padding: 20px;
  width: 30%;
  margin-right: 30px;
}

.doctor-card img {
  margin-left: 50px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 80%;
  height: 60%;
}

.doctor-card h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
}

.doctor-card h4 {
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
}

.doctor-card p {
  font-size: 14px;
  text-align: justify;
  font-family: "Raleway", sans-serif;
}

.doc-infors {
  box-sizing: border-box;
  text-align: center;
  padding-top: 30px;
  padding-left: 300px;
  padding-right: 300px;
}

.doc-infors h1 {
  color: #398ffc;
  margin-bottom: 20px;
}

.doc-infors p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .about {
    display: none;
  }

  .about-infor {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15vh;
    width: 100vw;
  }

  .about-infor h1 {
    font-size: 25px;
  }
  .about-infor p {
    font-size: 15px;
  }

  .about-image {
    display: none;
  }

  .doc-infors {
    width: 100vw;
    padding: 0;
  }

  .doc-infors h1 {
    font-size: 20px;
    margin-top: 10px;
  }

  .doc-infors p {
    font-size: 15px;
    margin: 20px;
  }

  .doctors {
    width: 100vw;
    padding: 0;
    background-color: #e1eeff;
  }

  .doctor-card {
    padding: 0;
    margin: 0;
    width: 100vw;
    text-align: center;
  }

  .doctor-card img {
    padding-top: 10px;
  }

  .doctor-card p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    padding-bottom: 40px;
  }

  .doctor-card h3 {
    width: 100vw;
    text-align: center;
  }

  .doctor-card img {
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
  }
}
