.booking {
  width: 100%;
  height: 95vh;
}

.booking .container {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
}

.imageBooking {
  width: 50%;
  height: 100%;
  background-image: url(../assets/booking.jpg);
  background-size: cover;
}

.booking .image img {
  width: 100%;
  height: 100%;
}

.content-booking {
  width: 50%;
  box-sizing: border-box;
  padding-left: 10vw;
  padding-top: 5vh;
  padding-bottom: 4vh;
  height: 95vh;
  width: 50vw;
  background: #e1eeff;
  overflow: auto;
}

.booking h1 {
  margin-bottom: 30px;
}

.booking h5 {
  margin-bottom: 20px;
  font-size: 20px;
}

.booking h2,
h3 {
  font-size: 15px;
  width: 27vw;
  margin-bottom: 5px;
}

.content-booking input {
  box-sizing: border-box;
  padding-left: 40px;
  font-size: 12px;
  margin-top: 10px;
  width: 30vw;
  height: 40px;
  border: none;
  margin-bottom: 4vh;
}

.booking .label {
  font-family: "Raleway", sans-serif;
  color: #398ffc;
}

.bookingButton {
  font-family: "Raleway", sans-serif;
  margin-top: 10px;
  font-size: 18px;
  color: white;
  padding: 0;
  margin: 0;
  background: #398ffc;
  height: 4vh;
  width: 30vw;
}

.input-wrapper---1 {
  display: inline-block;
  position: relative;
}

.input-wrapper---1:after {
  font-size: 22px;
  font-family: "FontAwesome";
  content: "\f007";
  position: absolute;
  left: 10px;
  top: 35px;
  color: #398ffc;
}

.input-wrapper---2 {
  position: relative;
}

.input-wrapper---2:after {
  font-size: 25px;
  font-family: "FontAwesome";
  content: "\f0e0";
  position: absolute;
  left: 10px;
  top: 35px;
  color: #398ffc;
}

.input-wrapper---3 {
  position: relative;
}

.input-wrapper---3:after {
  font-size: 25px;
  font-family: "FontAwesome";
  content: "\f095";
  position: absolute;
  left: 10px;
  top: 35px;
  color: #398ffc;
}

.input-wrapper---4 {
  position: relative;
}

.input-wrapper---4:after {
  font-size: 25px;
  font-family: "FontAwesome";
  content: "\f073";
  position: absolute;
  left: 10px;
  top: 35px;
  color: #398ffc;
}

.input-wrapper---5 {
  position: relative;
}

.input-wrapper---5:after {
  font-size: 25px;
  font-family: "FontAwesome";
  content: "\f086";
  position: absolute;
  left: 10px;
  top: 35px;
  color: #398ffc;
}

#comment {
  height: 80px;
}

@media only screen and (max-width: 600px) {
  .imageBooking {
    display: none;
  }

  .content-booking {
    padding-top: 11vh;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }
  .content-booking input {
    width: 80vw;
  }

  .booking h2,
  h3 {
    width: 80vw;
    margin-bottom: 5px;
  }
}
