* {
  margin: 0;
  padding: 0;
}

.imageChange {
  animation: slide 2s;
}

.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 95vh;
  animation: slide 30s infinite;
}

.content {
  color: #fff;
  width: 100%;
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  letter-spacing: 5px;
  text-align: center;
}

.hero h1 {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-weight: 2000;
  margin-bottom: 20px;
}

@keyframes slide {
  0% {
    background-image: url("../assets/1.jpeg");
  }
  20% {
    background-image: url("../assets/ecg.jpg");
  }
  20.01% {
    background-image: url("../assets/3.jpeg");
  }
  40% {
    background-image: url("../assets/4.jpeg");
  }
  40.01% {
    background-image: url("../assets/5.jpeg");
  }
  60% {
    background-image: url("../assets/6.jpeg");
  }
  60.01% {
    background-image: url("../assets/3.jpeg");
  }
  80% {
    background-image: url("../assets/4.jpeg");
  }
  80.01% {
    background-image: url("../assets/5.jpeg");
  }
  100% {
    background-image: url("../assets/6.jpeg");
  }
}

.homeButtonsContainer {
  display: flex;
  flex-direction: row;
  width: 25vw;
  margin: auto;
}

.homeButtonContainer {
  display: flex;
  background-color: white;
  align-content: center;
  padding: 20px 0px;
  margin: auto;
}

/* Position and spacing for Navigation bar links */
.homeButton {
  font-family: "Raleway", sans-serif;
  padding: 3px 0px;
  margin: 0px 28px;
  position: relative;
  letter-spacing: 2px;
  background-color: transparent;
  color: black;
  font-size: 17px;
}

/* On hover text colour change */
.homeButton:hover {
  color: #293b98;
  background-color: transparent;
}

.homeButton:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #293b98;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* Expands line under link */
.homeButton:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media only screen and (max-width: 600px) {
  .content {
    height: 100vh;
  }

  .slider {
    height: 100vh;
  }

  .homeButtonsContainer {
    display: none;
  }

  .hero h1 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 2000;
  }
}
