.profile {
  width: 100%;
  height: 95vh;
}

.content-profile {
  margin-top: 10vh;
  margin-left: 6vw;
  box-sizing: border-box;
  padding-left: 15vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: 75vh;
  width: 40vw;
  background: #e1eeff;
  overflow: scroll;
}

.profile .container-profile {
  height: inherit;
  display: flex;
  flex-direction: row;
}

.container-booking {
  width: 50vw;
  float: left;
  display: flex;
  flex-direction: column;
}

.container-booking h1 {
  margin-left: 5vw;
}

.booking-card h3 {
  text-align: center;
}

.profile p {
  padding: 2.5px 10px;
}

.booking-card {
  width: 50%;
  height: 100%;
}

.booking-card {
  padding: 15px;
  margin-top: 7vh;
  margin-left: 10vh;
  box-sizing: border-box;
  height: 20vh;
  width: 40vw;
  background: #e1eeff;
}

.container-booking button {
  float: right;
}
