.signUp {
  width: 100%;
  height: 95vh;
}

.signUp .container {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
}

.imageSignUp {
  width: 50%;
  height: 100%;
  background-image: url(../assets/staff.jpg);
  background-size: cover;
}

.signUp .image img {
  width: 100%;
  height: 100%;
}

.content-signUp {
  width: 50%;
  box-sizing: border-box;
  padding-left: 10vw;
  padding-top: 5vh;
  padding-bottom: 4vh;
  height: 95vh;
  width: 50vw;
  background: #e1eeff;
}

.signUp h1 {
  margin-bottom: 15px;
}

.content-signUp input {
  box-sizing: border-box;
  padding-left: 40px;
  font-size: 12px;
  margin-top: 10px;
  width: 30vw;
  height: 40px;
  border: none;
  margin-bottom: 2.5vh;
}

.content-profile input {
  box-sizing: border-box;
  padding-left: 40px;
  font-size: 12px;
  width: 27vw;
  height: 40px;
  border: none;
}

.profile button {
  font-family: "Raleway", sans-serif;
  margin-top: 10px;
  font-size: 18px;
  color: white;
  padding: 0;
  margin: 0;
  background: #398ffc;
  height: 4vh;
  width: 30vw;
}

.profile button:hover {
  background-color: #137bf9;
  color: white;
}

.signUp h5 {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.signUp .label {
  font-family: "Raleway", sans-serif;
  color: #398ffc;
}

.signUp button {
  font-family: "Raleway", sans-serif;
  margin-top: 10px;
  font-size: 18px;
  color: white;
  padding: 0;
  margin: 0;
  background: #398ffc;
  height: 4vh;
  width: 30vw;
  margin-bottom: 10px;
}

.signUp button:hover {
  background-color: #137bf9;
  color: white;
}

.input-wrapper-1 {
  display: inline-block;
  position: relative;
}

.input-wrapper-1:after {
  font-size: 22px;
  font-family: "FontAwesome";
  content: "\f007";
  position: absolute;
  left: 10px;
  top: 35px;
  color: #398ffc;
}

.input-wrapper-2 {
  position: relative;
}

.input-wrapper-2:after {
  font-size: 25px;
  font-family: "FontAwesome";
  content: "\f023";
  position: absolute;
  left: 10px;
  top: 35px;
  color: #398ffc;
}

.input-wrapper-3 {
  position: relative;
}

.input-wrapper-3:after {
  font-size: 25px;
  font-family: "FontAwesome";
  content: "\f023";
  position: absolute;
  left: 10px;
  top: 35px;
  color: #398ffc;
}

.input-wrapper-4 {
  position: relative;
}

.input-wrapper-4:after {
  font-size: 25px;
  font-family: "FontAwesome";
  content: "\f023";
  position: absolute;
  left: 10px;
  top: 35px;
  color: #398ffc;
}

.input-wrapper-5 {
  position: relative;
}

.input-wrapper-5:after {
  font-size: 25px;
  font-family: "FontAwesome";
  content: "\f023";
  position: absolute;
  left: 10px;
  top: 35px;
  color: #398ffc;
}

.input-wrapper-6 {
  position: relative;
}

.input-wrapper-6:after {
  font-size: 25px;
  font-family: "FontAwesome";
  content: "\f023";
  position: absolute;
  left: 10px;
  top: 35px;
  color: #398ffc;
}

@media only screen and (max-width: 600px) {
  .imageSignUp {
    display: none;
  }

  .signUp .image img {
    display: none;
  }

  .signUp input {
    width: 80vw;
  }

  .content-signUp {
    width: 100%;
    height: 100vh;
    padding-top: 11vh;
    overflow: scroll;
  }
}
