.services {
  width: 100%;
  min-height: 99vh;
  overflow: hidden;
}


.service-image{
  height: 34vh;
  background-image: url(../assets/banner-staff.jpg);
  background-size: cover;
}

.title{
  font-family: "Raleway", sans-serif;
  padding-left:400px;
  padding-right:400px;
  padding-top:40px;
  text-align: center;
}

.title h1{
  color:#398ffc;
  margin-bottom: 20px;
}
.title p{
  font-size: 18px;
  margin-bottom: 20px;
}



.serviceContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top:80px !important;
  padding-left: 120px !important;
  margin: 5px;
 
}


.singleService{
  box-sizing: border-box;
  width: 30%;
 margin-right:40px;
 margin-bottom: 60px;
}
.serviceImage{
  border-radius: 5px;
  height: 65%;
  margin-bottom: 10px;

}







