.services {
  width: 100%;
  min-height: 95vh;
  overflow: hidden;
}

.service-image {
  height: 34vh;
  background-image: url(../assets/banner-staff.jpg);
  background-size: cover;
}

.title {
  font-family: "Raleway", sans-serif;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 60px;
  text-align: center;
}

.title h1 {
  color: #398ffc;
  margin-bottom: 20px;
}

.title p {
  font-size: 18px;
  margin-bottom: 20px;
}

.serviceContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 80px !important;
  padding-left: 80px !important;
  margin: 5px;
}

.singleService {
  box-sizing: border-box;
  width: 20%;
  margin-right: 50px;
  margin-bottom: 30px;
}

.serviceCards {
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 120px;
  box-sizing: border-box;
  background: #e1eeff;
}

.singleService img {
  margin-bottom: 10px;
  border-radius: 5px;
  height: 220px;
  width: 220px;
  cursor: pointer;
  transition: all 0.6s;
}

.singleService img:hover {
  transform: scale(1.1);
}

.singleService p {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 5px;
}

.singleService h1 {
  margin-bottom: 10px;
  font-size: 15px;
}

.serviceImage {
  border-radius: 5px;
  height: 65%;
  margin-bottom: 10px;
}

.imageUploadButton {
  font-size: 18px;
  color: white;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  background: #398ffc;
  height: 4vh;
  width: 100%;
}

.imageUploadButton:hover {
  background-color: #137bf9;
  color: white;
}

@media only screen and (max-width: 600px) {
  .title {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    text-align: center;
  }

  .title h1 {
    color: #398ffc;
    margin-top: 20px;
    font-size: 25px;
  }

  .title p {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .serviceContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0px !important;
    padding-left: 0px !important;
    margin: 5px;
  }

  .singleService {
    box-sizing: border-box;
    width: 100%;
    margin: 30px;
    text-align: center;
  }

  .serviceCards {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
    background: #e1eeff;
  }

  .singleService img {
    margin-bottom: 10px;
    border-radius: 5px;
    height: 250px;
    width: 85%;
    cursor: pointer;
    transition: all 0.6s;
  }


  .title p {
    margin: 20px;
  }
}
