.signIn {
  width: 100%;
  height: 95vh;
}

.signIn .container {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
}

.imageSignIn {
  width: 50%;
  height: 100%;
  background-image: url(../assets/signup-bg.jpg);
  background-size: cover;
}

.signIn .image img {
  width: 100%;
  height: 100%;
}

.content-signin {

  width: 50%;
  box-sizing: border-box;
  padding-left: 10vw;
  padding-top: 20vh;
  padding-bottom: 4vh;
  height: 95vh;
  width: 50vw;
  background: #e1eeff;
}

.signIn h1 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 30px;
}

.content-signin input {
  box-sizing: border-box;
  padding-left: 40px;
  font-size: 12px;
  margin-top: 10px;
  width: 30vw;
  height: 40px;
  border: none;
  margin-bottom: 4vh;
}

.signIn h5 {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.signIn .label {
  font-family: "Raleway", sans-serif;
  color: #398ffc;
}

.signIn button {
  font-family: "Raleway", sans-serif;
  margin-top: 10px;
  font-size: 18px;
  color: white;
  padding: 0;
  margin: 0;
  background: #398ffc;
  height: 4vh;
  width: 30vw;
  margin-bottom: 20px;
}

.signIn button:hover {
  background-color: #137bf9;
  color: white;
}

.input-wrapper1 {
  position: relative;
}

.input-wrapper1:after {
  font-size: 25px;
  font-family: "FontAwesome";
  content: "\f007";
  position: absolute;
  left: 10px;
  top: 35px;
  color: #398ffc;
}

.input-wrapper2 {
  position: relative;
}

.input-wrapper2:after {
  font-size: 25px;
  font-family: "FontAwesome";
  content: "\f023";
  position: absolute;
  left: 10px;
  top: 35px;
  color: #398ffc;
}

.signIn a,
.signUp a {
  margin-top: 10px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.signIn h4,
.signUp h4 {
  margin-top: 10px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .imageSignIn {
    display: none;
  }

  .content-signin {
    width: 100%;
    height: 100vh;
  }

  .signIn .image img {
    display: none;
  }

  .signIn button {
    width: 80vw;
  }

  .content-signIn input {
    width: 80vw;
  }

  /* Force input field widths */
  input[type="email"] {
    width: 80vw;
  }

  input[type="password"] {
    width: 80vw;
  }
}
