.content-success {
  background-color: #e1eeff;
  height: 100%;
  padding: 10vh 7vh;
}

.content-success h1 {
  margin-bottom: 10px;
}

.content-success button {
  margin-top: 10px;
  font-size: 18px;
  color: white;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  background: #398ffc;
  height: 4vh;
  width: 50%;
}

.content-success input {
  box-sizing: border-box;
  padding-left: 40px;
  font-size: 12px;
  margin-top: 10px;
  height: 40px;
  width: 50%;
  border: none;
}
