.vaccines {
  width: 100%;
  min-height: 95vh;
  overflow: hidden;
}


.vaccine-image{
  height: 34vh;
  background-image: url(../assets/vaccine-bg.jpg);
  background-size: cover;
}

.title{
  font-family: "Raleway", sans-serif;
  padding-left:400px;
  padding-right:400px;
  padding-top:40px;
  text-align: center;
}

.title h1{
  color:#398ffc;
  margin-bottom: 20px;
}
.title p{
  font-size: 18px;
  margin-bottom: 20px;
}


.vaccineCards {
  margin-top:50px;
  margin-left:120px;
  margin-right: 120px;
  box-sizing: border-box;
  background: #e1eeff;
}

.vaccineContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top:80px !important;
  padding-left: 120px !important;
  margin: 5px;
 
}

.singleVaccine{
  box-sizing: border-box;
  width: 20%;
 margin-right:40px;
 margin-bottom: 30px;
}

.singleVaccine img {
  margin-bottom: 10px;
  border-radius: 5px;
  height: 200px;
  width: 200px;
} 
.singleVaccine p {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 5px;
} 
