.vaccines {
  width: 100%;
  height: 95vh;
}

.vaccines .containerVaccines {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
}

.containerVaccineCards {
  display: flex;
  flex-direction: column;
}

.imageVaccines {
  width: 50%;
  height: 100%;
  background-image: url(../assets/vaccine.jpg);
  background-size: cover;
}

.vaccineCards h3 {
  padding: 10px;
  text-align: center;
}

.vaccines p {
  padding: 2.5px 10px;
}

.vaccineCards {
  margin-top: 7vh;
  margin-left: 10vh;
  box-sizing: border-box;
  height: 75vh;
  width: 40vw;
  background: #e1eeff;
}

.another {
  width: 30vw;
  margin: auto;
}

.productContainer {
  display: flex;
  transition: all 0.3s ease-in-out;
  border: black solid 2px;
  margin: 3px;
}

.productItem img {
  height: 50px;
  width: 50px;
  background-color: black;
}

.productContainer:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
}

/* .productItem {
  margin: auto;
  padding: 5px;
} */
