.vaccines {
  width: 100%;
  min-height: 95vh;
  overflow: hidden;
}

.vaccine-image {
  height: 34vh;
  background-image: url(../assets/vaccine-bg.jpg);
  background-size: cover;
}

.title {
  font-family: "Raleway", sans-serif;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 60px;
  text-align: center;
}

.title h1 {
  color: #398ffc;
  margin-bottom: 20px;
}

.title p {
  font-size: 18px;
  margin-bottom: 20px;
}

.vaccineContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 80px !important;
  padding-left: 100px !important;
  margin: 5px;
}

.singleVaccine {
  box-sizing: border-box;
  width: 20%;
  margin-right: 50px;
  margin-bottom: 30px;
}

.vaccineCards {
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
  box-sizing: border-box;
  background: #e1eeff;
}

.singleVaccine img {
  margin-bottom: 10px;
  border-radius: 5px;
  height: 220px;
  width: 220px;
  cursor: pointer;
  transition: all 0.6s;
}

.singleVaccine img:hover {
  transform: scale(1.1);
}

.singleVaccine p {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .title {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    text-align: center;
  }

  .title h1 {
    font-size: 25px;
    color: #398ffc;
    margin-top: 20px;
  }

  .title p {

    font-size: 15px;
    margin-bottom: 20px;
  }

  .vaccineContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0px !important;
    padding-left: 0px !important;
    margin: 5px;
  }

  .singleVaccine {
    padding-left:10px;
    padding-right: 10px;
    box-sizing: border-box;
    width: 100%;
    margin: 30px;
    text-align: center;
  }

  .vaccineCards {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
    background: #e1eeff;
  }

  .singleVaccine img {
    margin-bottom: 10px;
    border-radius: 5px;
    height: 250px;
    width: 85%;
    cursor: pointer;
    transition: all 0.6s;
  }
}
