/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body h1 {
  font-family: "Raleway", sans-serif;
}

body h5 {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

/* Controlling a-links colours in their different states */
a {
  color: black;
} /* Unvisited link  */
a:visited {
  color: black;
} /* Visited link    */
a:hover {
  color: #398ffc;
} /* Mouse over link */
a:active {
  color: black;
} /* Selected link   */

.alert {
  color: red;
  font-size: 30px;
}
