/* Setting font styles throughout the app */

body h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}

body p {
  font-family: "Raleway", sans-serif;
}

label {
  font-family: "Raleway", sans-serif;
}

table {
  font-family: "Raleway", sans-serif;
}

button {
  background-color: grey;
  border: none;
  color: white;
  padding: 9px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover {
  background-color: #137bf9;
  color: white;
}

button[type="submit"]:hover {
  background-color: #137bf9;
  color: white;
}

button[type="toggle"]:hover {
  background-color: #137bf9;
  color: white;
}

/* Controlling a-links colours in their different states */
a {
  color: black;
}

/* Unvisited link  */
a:visited {
  color: black;
}

/* Visited link    */
a:hover {
  color: #398ffc;
}

/* Mouse over link */
a:active {
  color: black;
}

.alert {
  color: red;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
  }
}
